.button {
  display: inline;
  padding: 0.5rem 2rem;
  background-color: #05386b;
  border: 2px solid #379683;
  border-radius: 3rem;
  margin-inline: 0.5rem;
  color: white;
  transition: 0.32s;
  font-family: MonoLisa;
  cursor: pointer;
}

.button:hover {
  background-color: #edf5e1;
  border-color: #8ee4af;
  color: #05386b;
}
