.input {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 2px solid #3919486d;
  outline: none;
  font-size: 1.2rem;
  background-color: #fff;
}

.input:focus {
  outline: none;
}
.invalid {
  border: 2px solid rgb(237, 53, 53) !important;
}
